<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AQHI">

        <!-- MAIN ANDROID APP -->
        <activity
            android:name=".main.AQHIMainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AQHI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CHANGE LOCATION -->
        <activity
            android:name=".main.AQHILocationActivity"
            android:exported="false"
            android:theme="@style/Theme.AQHI">
        </activity>

        <!-- SMALL ANDROID WIDGET -->
        <receiver
            android:name=".widgets.AQHIWidgetProviderSmall"
            android:theme="@style/Theme.AQHIWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_small" />
        </receiver>

        <!-- LARGE ANDROID WIDGET -->
        <receiver
            android:name=".widgets.AQHIWidgetProviderLarge"
            android:theme="@style/Theme.AQHIWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large" />
        </receiver>

        <!-- WIDGET CONFIG -->
        <activity
            android:name=".widgets.config.AQHIWidgetConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.AQHI" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>